<!-- Resources -->
<section>
    <h2 class="heading" id="about">About</h2>
    <div class="card-container">
        <p class="card">
            I am a seasoned Software Engineer with over {{present }}+ years of valuable experience in the IT industry,
            currently
            contributing my expertise to Greenway Health.
            My professional journey has been marked by a strong focus on Python, AWS, and Problem solving.
            Throughout my career, I have demonstrated my proficiency in Python, Angular, C#, and cloud platforms such as AWS
            and
            Azure.
            I am dedicated to leveraging my skills and knowledge to drive innovation and excellence in the IT field,
            consistently delivering solutions that meet and exceed industry standards.
        </p>
    
    </div>
    
    </section>
    <section>
    <h2 class="heading">Facts</h2>
    <div class="card-container">
    <div class="card">
        <ul>
            <li>Microsoft Azure Fundamental Certified. </li>
            <li>Python & DJango Certified. </li>
            <li>HTML5 Application Development Fundamentals. </li>
        </ul>
    </div>
    </div>
    </section>
    <section>
    <h2 class="heading">Skills</h2>
    <div class="card-container">
    <div class="card">
        <p class="">
            As a Full-Stack Developer, I possess expertise in a range of programming languages, including C#, Python, and
            Java.
            Additionally, I am well-versed in cloud technologies and hold a strong skill set in cloud computing and cloud
            migration.
            My professional experience and skill set allow me to contribute effectively to projects that demand a
            comprehensive
            understanding of both front-end and back-end development,
            as well as proficiency in cloud-based solutions.
        </p>
        <div class="col-md-12" style="display: flex;">
            <div class="col-md-6"  style="margin: 5px;">
                <div class="">
                    <p>
                        <span class="skill"> Python <i class="val">85%</i></span>
                        <ngb-progressbar type="info" [value]="85"></ngb-progressbar>
                    </p>
                </div>
                <div class="">
                    <p>
                        <span class="skill">Postgres <i class="val">80%</i></span>
                        <ngb-progressbar type="info" [value]="80"></ngb-progressbar>
                    </p>
    
                </div>
                <div class="">
                    <p>
                        <span class="skill">Flask Framework <i class="val">90%</i></span>
                        <ngb-progressbar type="info" [value]="90"></ngb-progressbar>
                    </p>
    
                </div>
            </div>
            <div class="col-md-6" style="margin: 5px;">
                <div>
                    <p>
                        <span class="skill">DJango <i class="val">80%</i></span>
                        <ngb-progressbar type="info" [value]="80"></ngb-progressbar>
                    </p>
                </div>
                <div>
                    <p>
                        <span class="skill">Angular <i class="val">90%</i></span>
                        <ngb-progressbar type="info" [value]="90"></ngb-progressbar>
                    </p>
                </div>
                <div>
                    <p>
                        <span class="skill">AWS <i class="val">85%</i></span>
                        <ngb-progressbar type="info" [value]="85"></ngb-progressbar>
                    </p>
                </div>
            </div>
        </div>
    </div>
    </div>
    </section>