<!-- <section> -->
<section class="card-container">
  <div class="card">
  <h2 class="heading-h2" id="experience">Resume</h2>
  <span>
    <p>Complete Resume</p>
    <span><button class="" tabindex="0">
        <svg class="download-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
        </svg>
        <span>Download</span>
      </button> </span>
  </span>

  <div>
    <h3 class="heading-h3">Summary</h3>
    <h4>ANJANI KUMAR </h4>
    <ul>
      <li>Full-Stack Developer</li>
      <li>Bangalore, Karnataka, India </li>
      <li>Date of Birth: 31 December 1996</li>
    </ul>

  </div>
  <div>
    <h3 class="heading-h3">Education</h3>
    <h4>ANJANI KUMAR </h4>
    <ul>
      <li>Full-Stack Developer</li>
      <li>Bangalore, Karnataka, India </li>
      <li>Date of Birth: 31 December 1996</li>
    </ul>
    <h4>ANJANI KUMAR </h4>
    <ul>
      <li>Full-Stack Developer</li>
      <li>Bangalore, Karnataka, India </li>
      <li>Date of Birth: 31 December 1996</li>
    </ul>
    <h4>ANJANI KUMAR </h4>
    <ul>
      <li>Full-Stack Developer</li>
      <li>Bangalore, Karnataka, India </li>
      <li>Date of Birth: 31 December 1996</li>
    </ul>
  </div>

  <div>
    <h3 class="heading-h3">Professional Experience</h3>
    <h4>ANJANI KUMAR </h4>
    <ul>
      <li>Full-Stack Developer</li>
      <li>Bangalore, Karnataka, India </li>
      <li>Date of Birth: 31 December 1996</li>
    </ul>
    <h4>ANJANI KUMAR </h4>
    <ul>
      <li>Full-Stack Developer</li>
      <li>Bangalore, Karnataka, India </li>
      <li>Date of Birth: 31 December 1996</li>
    </ul>
    <h4>ANJANI KUMAR </h4>
    <ul>
      <li>Full-Stack Developer</li>
      <li>Bangalore, Karnataka, India </li>
      <li>Date of Birth: 31 December 1996</li>
    </ul>
  </div>
</div>
</section>