:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .heading-h2{
    font-weight: 700;
    font-size: 2.5em;
    color: #173b6c;
    text-decoration: underline;
  }
  
  .heading-h3{
    font-weight: 650;
    font-size: 2em;
    color: #173b6c;
    text-decoration: underline;
  }
  .card-container {
    margin-top: 16px;
    width: 100%;
    min-height: 300px;
  }

  .card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    margin: 0 8px 16px;
    padding: 16px;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }
