<!-- <section> -->
<section class="card-container">
  <div class="card">
<h2 class="heading-h2" id="project">Projects</h2>
<div>
  <h4>Revenue Analytics System </h4>
  <ul>
    <li>Full-Stack Developer</li>
    <li>Bangalore, Karnataka, India </li>
    <li>Date of Birth: 31 December 1996</li>
  </ul>
 
</div>
<div>
  <h4>Revenue Analytics System </h4>
  <ul>
    <li>Full-Stack Developer</li>
    <li>Bangalore, Karnataka, India </li>
    <li>Date of Birth: 31 December 1996</li>
  </ul>
 
</div>
</div>
</section>
