<div class="poster">
  <div class="menu-container">
    <app-toolbar></app-toolbar>
  </div>
  <div class="txt-container">
    <div class="container-content">
      <app-introduction [title]="title"></app-introduction>
      <app-education></app-education>
      <app-experience></app-experience>
      <app-projects></app-projects>
      <app-communication></app-communication>
      
    </div>
  </div>
  <button class="back-to-top" (click)="scrollToTop()" [hidden]="!showButton"><i
    class="bi bi-caret-up-fill"></i></button>
</div>




<router-outlet></router-outlet>