:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card-container {
  margin-top: 16px;
  width: 100%;
  min-height:150px;
}

.card {
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  margin: 0 8px 16px;
  padding: 16px;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.txt-container {
    width:81%;
    float: right;
}

.menu-container {
    width: 20%;
    float: left;
}

.container-content {
    margin-left: 10%;
    margin-right: 10%;
}

.background-img {
    height: 70em;
    background-size: cover;
    width: 100%;
    float: right;
    margin-top: -10px;
    background-image: url('../assets/img/IMG_1.JPG');
    background-position: 50% 50%;
    position: absolute;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #1976d2;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }

/* Toolbar */
  .vertical-menu {
    width: 20%;
    background-color: #040b14;
    color: white;
    height: 1080px;
    position: fixed;
    align-items: center;
    margin-left: -5px;
    margin-top: -10px;
    margin-right: auto;
    display: grid;
    align-content: center;
    text-align: left;
  }
  
  .vertical-menu ul {
    list-style-type: none;
    margin-top: -40%;
  }
  
  .vertical-menu li {
    margin-bottom: 10px;
    margin-left: 25%;
    padding-top: 10px;
    font-size: 1rem;
    font-weight: 600;
  }

  .vertical-menu i {
    margin-right: 5px;
    font-size: 1rem;
    font-weight: 600;
  }
  
  .vertical-menu a {
    color: #a8a9b4;;
    text-decoration: none;
    display: block;
  }
  
  .vertical-menu a:hover, .vertical-menu .active > a {
    color: white;
  }
  .vertical-menu a:hover i, .vertical-menu .active > a i {
    color: #149ddd;
  }
 
  .circle{
    text-align: center;
    margin-left: -15%;
    margin-top: -190%;
  }
  .circle img{
    height: 120px;
    width: 120px;
    border: 5px solid #6f7180;
    border-radius: 50%;
    margin: 5px;
  }
  .circle h4{
    font-size: 1.7rem;
    font-weight: 700;
    margin: 10px;
  }

  .social{
    height: 25px;
    width: 25px;
    background-color: #6f7180;
    border-radius: 50%;
    
  }
    
  .section{
    min-height: 200px;
  }

/* Intro */
  .container-txt {
    width: 60vw;
    height: 70em;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    align-content: center;
    text-align: center;
    color: #173b6c;
  }
  
  .heading {
    font-weight: 900;
    font-size: 3vw;
  
  }

/* About  */
  .heading-section {
    font-weight: 700;
    font-size: 2.5em;
    color: #173b6c;
    text-decoration: underline;

}

.skill {
    float: left;
    width: 100%;
    display: block;
    border-radius: 0px;
    font-size: .7em;
    font-weight: 600;
    margin-bottom: 5px;
}

.val {
    float: right;
}

.education{    
    background-color: #f5f8fd;
}

.progress{
    width: 100%;    
    height: 10px;
}

/* experience */
.heading-experience-h3{
  font-weight: 650;
  font-size: 2em;
  color: #173b6c;
  text-decoration: underline;
}

/* projects */
.heading-projects-h3{
  font-weight: 650;
  font-size: 2em;
  color: #173b6c;
}

/* communication */


